.hu-icon-card {
  height: 300px;
  width: 250px;
  display: inline-block;
}
.hu-icon-card .hu-thumb {
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.hu-icon-card .hu-title {
  font-weight: 600;
  font-size: 18px;
}
.hu-icon-card .hu-title-align {
  margin-bottom: -16px;
}
.hu-icon-card .hu-description {
  color: #bec0c0;
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}
.hu-icon-card .hu-iconRevisions {
  background: url(../../content/img/iconRevisions.jpg) top left no-repeat;
  height: 134px;
  width: 54%;
  padding-bottom: 55px;
}
.hu-icon-card .hu-iconRetina {
  background: url(../../content/img/iconRetina.jpg) top left no-repeat;
  height: 92px;
  width: 41.5%;
  padding-bottom: 49px;
}
.hu-icon-card .hu-iconSupport {
  background: url(../../content/img/iconSupport.jpg) top left no-repeat;
  height: 92px;
  width: 40%;
  padding-bottom: 30px;
}
.hu-icon-card .hu-iconTime {
  background: url(../../content/img/iconTime.jpg) top left no-repeat;
  height: 92px;
  width: 36%;
  padding-bottom: 42px;
}
.hu-icon-card .hu-iconVariations {
  background: url(../../content/img/iconVariations.jpg) top left no-repeat;
  height: 92px;
  width: 34%;
  padding-bottom: 30px;
}

.hu-list-menu {
  list-style: none;
  padding: 0;
  text-align: center;
  line-height: 3.4;
}
.hu-list-menu .hu-option {
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}
.hu-list-menu .hu-option .hu-link {
  color: white;
  text-decoration: none;
}
