body {
  font-family: "Raleway";
  font-size: 16px;
}
body google-map {
  height: 600px;
}
body .hu-bold {
  font-weight: bold;
}
body .hu-yellow {
  color: #f6d68c;
}
body .hu-image-rj {
  width: 100%;
  height: 800px;
  background: url(../../content/img/bannerRJ.jpg) top left no-repeat;
  background-position: center;
  background-size: cover;
}
body .hu-nav {
  height: 86px;
}
body .hu-nav .hu-logo {
  position: absolute;
  left: 46.45%;
  width: 86px;
  height: 110px;
  background: url(../../content/img/logo.jpg) top left no-repeat;
  background-position: center;
  background-size: cover;
}
body .hu-skills {
  font-size: 22px;
  text-align: center;
}
body .hu-skills .hu-text-presentation {
  height: 180px;
  padding: 60px 15px;
}
