body {
  font-family: "Raleway";
  font-size: 16px;
  background: #eff3f3;
  /* WebComponents do google */
  /* Browsers antigos*/
  /* definições gerais */
  /* Banner(top) Rio de Janeiro */
  /* Menu de navegação */
  /* ícones skills */
  /* hu-footer*/
}
body google-map {
  height: 600px;
}
body .browserupgrade {
  width: 70%;
  margin: 0 auto;
  padding-top: 300px;
  font-size: 24px;
}
body .hu-bold {
  font-weight: bold;
}
body .hu-yellow {
  color: #f9c741;
}
body .hu-image-rj {
  width: 100%;
  height: 800px;
  background: url(../../content/img/bannerRJ.jpg) top left no-repeat;
  background-position: center;
  background-size: cover;
}
body .hu-nav {
  height: 86px;
}
body .hu-nav .hu-container {
  width: 100%;
}
body .hu-nav .hu-container .hu-logo-responsive {
  display: none;
}
body .hu-skills {
  font-size: 22px;
  text-align: center;
}
body .hu-skills .hu-text-presentation {
  height: auto;
  padding: 60px 15px;
}
body .hu-footer {
  height: 175px;
  background: #f9c741;
  text-align: center;
  padding: 60px 0;
}
/* Repsonsividade */
@media (max-width: 1200px) {
  body {
    /* Menu de navegação */
  }
  body .hu-nav .hu-container .navbar-collapse {
    padding: 0;
  }
  body .hu-icons {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  body {
    /* Banner(top) Rio de Janeiro */
    /* Menu de navegação */
  }
  body .hu-image-rj {
    height: 400px;
    margin-top: 86px;
  }
  body .hu-nav {
    height: 86px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
  }
  body .hu-nav .hu-container .navbar-collapse {
    padding: 0;
  }
}
@media (max-width: 767px) {
  body {
    /* Banner(top) Rio de Janeiro */
    /* Menu de navegação */
  }
  body .hu-image-rj {
    margin-top: 16px;
  }
  body .hu-nav {
    height: auto;
    /*margin-top: -416px;
      margin-bottom: 325px;*/
  }
  body .hu-nav .hu-container .hu-logo-responsive {
    display: block;
    position: absolute;
    top: -1px;
    z-index: 1000;
    width: 86px;
    height: 110px;
    background: url(../../content/img/logo.jpg) top left no-repeat;
    background-position: center;
    background-size: cover;
  }
  body .hu-nav .hu-container .hu-menu-icon .hu-toggle-name {
    color: white;
    display: inline-block;
    vertical-align: middle;
  }
  body .hu-nav .hu-container .hu-menu-icon .hu-toggle-name .sr-only {
    position: relative;
    width: auto;
    height: auto;
  }
  body .hu-nav .hu-container .hu-menu-icon .hu-toggle-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}
@media (max-width: 479px) {
  body {
    /* Footer */
  }
  body .hu-footer {
    height: auto;
  }
}
