.hu-icon-card{
    height:300px;
    width:250px;
    display:inline-block;

    .hu-thumb{
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }
    .hu-title{
        font-weight:600;
        font-size:18px;
    }
    .hu-title-align{
        margin-bottom:-16px;
    }
    .hu-description{
        color:#bec0c0;
        font-size:14px;
        width:80%;
        margin:0 auto;
        padding-top:20px;
    }
    .hu-iconRevisions{
        background: url(../../content/img/iconRevisions.jpg) top left no-repeat;
        height:134px;
        width:54%;
        padding-bottom:55px;
    }
    .hu-iconRetina{
        background: url(../../content/img/iconRetina.jpg) top left no-repeat;
        height:92px;
        width:41.5%;
        padding-bottom:49px;
    }
    .hu-iconSupport{
        background: url(../../content/img/iconSupport.jpg) top left no-repeat;
        height:92px;
        width:40%;
        padding-bottom:30px;
    }
    .hu-iconTime{
        background: url(../../content/img/iconTime.jpg) top left no-repeat;
        height:92px;
        width:36%;
        padding-bottom:42px;
    }
    .hu-iconVariations{
        background: url(../../content/img/iconVariations.jpg) top left no-repeat;
        height:92px;
        width:34%;
        padding-bottom:30px;
    }
}
/* Responsividade */
@media (max-width: 1295px){
    .ho-icon-card{

    }
    .hu-card-revisions{
          display: block;
          margin: 0 auto;
          margin-bottom:40px;
    }
}
